<mat-toolbar class="mat-elevation-z8">
    <mat-toolbar-row>
        <button mat-icon-button style="outline: none !important" [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
        <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="navigator('account')">My Account</button>
        <button mat-menu-item (click)="navigator('mysubmission')" *ngIf="isAdmin()">My Submission</button>
        <button mat-menu-item (click)="navigator('userlist')" *ngIf="isAdmin()">User List</button>
        <button mat-menu-item (click)="navigator('userfiles')" *ngIf="isAdmin()">User Files</button>
        <button mat-menu-item (click)="navigator('settings')" *ngIf="isAdmin()">Settings</button>
        <button mat-menu-item (click)="navigator('downloadsection')" *ngIf="isAdmin()">Download Section</button>
        <button mat-menu-item (click)="navigator('certificate')" *ngIf="isAdmin()">Upload Certificates</button>
        </mat-menu>
    <span class="fontS">{{userData.name}}</span>
    <span class="example-spacer"></span>
    <button mat-icon-button (click)="logOut()" title="Logout"><mat-icon>power_settings_new</mat-icon></button>
    </mat-toolbar-row>
</mat-toolbar>
<div class="container text-center">
    <br>
    <h3 class="text-center text-warning fontS">Reset Password Panel</h3>
    <small class="text-warning">Select a Name. Entire User information will be displayed below the drop down to help Cross-Verify. Names are sorted.</small>
    <br><br>
    <form novalidate #changeP="ngForm" (submit)="resetPassword($event.target)" *ngIf="!loading">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <p>
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Select User:</mat-label>
                        <mat-select [(ngModel)]="username" name="us" (selectionChange)="searchUser()" required>
                            <mat-option value=""> -- Select -- </mat-option>
                            <mat-option *ngFor="let user of usersData" [value]="user.username"> {{user.name}} </mat-option>
                        </mat-select>
                    </mat-form-field>
                </p>
                <div *ngIf="selectedUser" style="text-align: left;">
                    <p style="margin: 0px;"> <span class="text-primary">Name:</span> {{selectedUser.name}} </p>
                    <p style="margin: 0px;"> <span class="text-primary">Username:</span> {{selectedUser.username}} </p>
                    <p style="margin: 0px;"> <span class="text-primary">Email ID:</span> {{selectedUser.email}} </p>
                    <p style="margin: 0px;"> <span class="text-primary">Contact#:</span> {{selectedUser.contact}} </p>
                    <p style="margin: 0px;" *ngIf="selectedUser.itype == 'SCHOOL'"> <span class="text-primary">Stream:</span> {{selectedUser.stream}} </p>
                    <p style="margin: 0px;"> <span class="text-primary">{{selectedUser.itype == 'SCHOOL' ? 'Class': 'Year'}}:</span> {{selectedUser.yoc}} </p>
                    <p style="margin: 0px;"> <span class="text-primary">{{selectedUser.itype == 'SCHOOL' ? 'School': 'College'}}:</span> {{selectedUser.iname}} </p>
                    <br>
                </div>
                <p>
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Type in Password:</mat-label>
                        <input matInput type="password" placeholder="Password" name="password" [(ngModel)]="newPassword" required />
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Re-type Password:</mat-label>
                        <input matInput type="password" placeholder="Password Once Again" name="password2" [(ngModel)]="confirmNewPassword" required />
                        <mat-hint color="warn" *ngIf="newPassword != confirmNewPassword"> Passwords do not match </mat-hint>
                    </mat-form-field>
                </p>
                <button mat-raised-button color="primary" type="submit"
                    [disabled]="changeP.form.invalid || newPassword != confirmNewPassword">Confirm & Reset</button>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </form>
</div>
<br>
<div class="loader-holder" *ngIf="loading">
  <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>